<header class="header">
    <div class="header-logo">
        <span>Puka Holdings</span>
    </div>
    <ul class="header-navigation">
        <li class="header-dropdown">
            <a href="../pages/brands.html">Brands</a>
            <ul class="header-dropdown-menu">
                <li><a href="../pages/brands.html">Puka Creations</a></li>
                <li><a href="../pages/brands.html">Supasoft Apparel</a></li>
                <li><a href="../pages/brands.html">Puka Gida</a></li>
                <!-- Add an event to direct users to the page -->
            </ul>
        </li>
        <li><a href="../pages/about.html">About</a></li>
        <li><a href="../pages/contact.html">Contact</a></li>
    </ul>
    <div class="header-hamburger">
        <span></span>
        <span></span>
    </div>
</header>
