.content {
    background-color: var(--third-color);
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 120px 20px;
    margin-top: 250px;
    margin-bottom: 200px;
    text-align: center;
    background-color: var(--third-color);
    min-height: 100vh;
    box-sizing: border-box;
}

.main-content h2 {
    font-family: var(--primary-font);
    font-size: var(--font-size-large);
    color: var(--primary-color);
    margin-bottom: 30px;
    text-align: center;
    line-height: 1.4;
}

.main-content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.main-content p {
    font-family: var(--secondary-font);
    font-size: var(--font-size-medium);
    color: var(--primary-color);
    max-width: 800px;
    line-height: 1.6;
    margin-top: 40px;
}

@media (max-width: 768px) {
    .main-content {
        padding: 30px 10px;
        margin-top: 200px;
    }

    .main-content h2 {
        font-size: var(--font-sizeMB-large);
    }

    .main-content p {
        font-size: var(--font-sizeMB-medium);
    }
}
